<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>686816810357-k6tejgtkuc60k0qri863811mdh434if5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686816810357-k6tejgtkuc60k0qri863811mdh434if5</string>
	<key>API_KEY</key>
	<string>AIzaSyCr41A_DlyaqPnm7knStTUqyAa0JuhTa4o</string>
	<key>GCM_SENDER_ID</key>
	<string>686816810357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myappFlutter</string>
	<key>PROJECT_ID</key>
	<string>myapp-1545699976369</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-1545699976369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686816810357:ios:c684607dc6492a2f</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-1545699976369.firebaseio.com</string>
</dict>
</plist>